body{
    background-color:rgb(203, 147, 255);
    margin:25px;
}
#formmostrar{
    font-size:23px;
    font-family: 'Arial';
    text-align: center;
    padding: 50px;
}
#num1{
    margin-top: 15px;
    margin-bottom: 30px;
    height:30px;
}
#botao{
    padding:8px;
    font-size:28px;
}